.entete {
    background-color: #20202A;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.liens {
    list-style: none;
    display: flex;
    gap: 40px;
}

.liens a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s ease;
}

.liens a:hover {
    background-color: #D0D0CE;
    color: #20202A;
    transform: scale(1.1);
}

.container {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 80px;
    margin-top: 110px;
    padding: 20px;
    margin-left: 283px;
    margin-right: 283px;
    margin-bottom: 115px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.flex-left {
    flex: 1;
    display: flex;
   
}

.photo-profil {
    width: 400px;
    height: auto;
    border-radius: 100%;
    border: 10px solid #20202A;
    justify-content: center;
    align-items: center;
}

.flex-right {
    display: flex;
    flex: 3;
    flex-direction: column;

}

.nom-prenom {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    margin-top: -35px;
}

.description-domaines {
    margin-top: -60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 37px;
}

.presentation {
    margin-bottom: 20px;
    margin-top: -40px;
}

.bouton-decouvrir1 {
    color: #D0D0CE;
    background-color: #20202A;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid transparent;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    display: block;

}

.bouton-decouvrir1:hover {
    color: #20202A;
    background-color: #D0D0CE;
    text-decoration: none;
    border-color: #20202A;
}

.section-contenu {
    padding: 60px ;
    background-color:#20202A;
}

.section-contenu-404 {
    margin-top: -35px;
    padding: 60px ;
    background-color:#20202A;
}

.titre-contenu-404 {
    color: white;
    font-size: 5vw;
    text-align: center;
}

.titre-contenu {
    margin-top: -70px;
    margin-bottom: 80px;
    color: white;
    font-size: 2.85vw;
    text-align: center;
}

.articles-flex {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: -40px;
}

.nom-article {
    font-size: 25px;
    margin-bottom: -10px;
    color: #20202A;
}

.article {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #D0D0CE;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.article:hover {
    transform: scale(1.05);
}

.article img {
    max-width: 100%;
    border-radius: 8px;
    filter: grayscale(100%);
}

.image:hover img {
    filter: blur(5px);
}


.bouton-decouvrir3 {
    color: #D0D0CE;
    background-color: #20202A;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid transparent;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

.bouton-decouvrir3:hover {
    color: #20202A;
    background-color: #D0D0CE;
    text-decoration: none;
    border-color: #20202A;
}

.titre-contenu2 {
    color: #20202A;
    font-size: 2.85vw;
    text-align: center;
    margin-top: -40px;
}


.section-contenu2 {
    padding: 60px ;
    background-color:#D0D0CE;
}

.titre-contenu3 {
    color: #D0D0CE;
    font-size: 2.85vw;
    
    text-align: center;
    margin-top: -40px;
}

.titre-contenu3 p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.section-contenu3 {
    display: flex;
    flex-direction: column;
}

.articles-flex3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: -20px;
}

.article3 {
    display: flex;
    justify-content: center;
}

.bouton-decouvrir5 {
    color: #20202A;
    background-color: #D0D0CE;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #D0D0CE;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-decoration: none;
    text-align: center;

}

.bouton-decouvrir5:hover {
    color: #D0D0CE;
    background-color: #20202A;
    text-decoration: none;
    
}

.article2 {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}

.articles-flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: -20px;
    width: 100%;
}

.bouton-decouvrir4 {
    color: #D0D0CE;
    background-color: #20202A;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid transparent;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-decoration: none;
    text-align: center;

}

.bouton-decouvrir4:hover {
    color: #20202A;
    background-color: #D0D0CE;
    text-decoration: none;
    border-color: #20202A;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.flex-bouton-competences {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-saisie-competences {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.flex-saisie-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80px;
    font-size: 20px;
}

.flex-saisie-contact input {
    height: auto;
    width: 100%;
    font-size: 20px;
    border-radius: 15px;
}

.flex-saisie-contact ::placeholder {
    color: #20202A;
}

.formulaire-ajout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: auto;
}

.formulaire-ajout textarea {
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #20202A;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    min-height: 100px;
    font-size: 20px;
    text-align: left;
    position: sticky;

}

.formulaire-ajout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    

}

input, select {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #20202A;
    border-radius: 4px;
    flex-grow: 1;

}

.bouton-action {
    align-items: left;
    color: #20202A;
    background-color: #D0D0CE;
    padding: 8px;
    border-radius: 15px;
    border: 2px solid white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;

}

.bouton-action:hover {
    color: white; 
    background-color: #20202A;
}

/* Media Query pour 768px */
@media (max-width: auto) {
    .entete {
        background-color: #20202A;
        color: white;
        padding: 1rem;

        top: 0;
        height: 2rem;
        width: 15 rem ;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -15px;
    }

    .liens {
        list-style: none;
        display: flex;
        gap: 10px;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 60px;
    }

    .flex-left, .flex-right {
        width: auto;
        margin-top: 60px;
        padding: 20px;
    }

    .photo-profil {
        width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 40px;
    }

    .prenom-titre {
        
        font-size: 5rem;
        text-align: center;
    }

    .citation-titre {
        font-size: 2rem;
        text-align: center;
    }

    .presentation {
        background-color: #20202A;
        color: white;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
        display: flex;
        margin-top: 150px;
        width: 80%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .titre-texte-presentation {
        text-align: center;
        display: flex;
        font-size: 1.5rem;
    }

    .texte {
        font-family: 'Franklin Gothic Medium';
        font-size: 20px;
    }
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #D0D0CE;
    color: #20202A;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.image-accueil img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 80px;
    margin-top: 110px;
    padding: 20px;
    margin-left: 283px;
    margin-right: 283px;
    margin-bottom: 115px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.section-contenu-cv {
    display: flex;
    flex-direction: column;
    padding: 60px ;
    background-color:#D0D0CE;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
}

.articles-flex-cv {
    flex-direction: row;
    display: flex;
    flex: 2;
    width: 80%;
    background: #20202A;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    gap: 80px;
    padding: 80px;
}

.nom-article-cv {
    font-size: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);

}


.contact {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    align-items: flex-start;
    padding: 20px;
    align-items: center;
    justify-content: center;

    font-family: 'Franklin Gothic Medium';
    flex-grow: 1;
}


.titre-contenu-cv {

    color: #20202A;
    font-size: 2.85vw;
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.titre-contenu-cv .p {
    display: flex;
    text-align: center;
}

.photo-cv {
    float: left;
    width: auto;
    height: 500px;
    margin-right: 20px;
}


.grp-titre-cv {
    display: flex;
    flex-direction: row;
}

.description-titre-cv {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.informations-1-cv {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.nom-prenom-cv {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
}

.description-domaines-cv {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    margin-top: -20px;
}

.informations .profession {
    font-size: 1.3em;
    font-weight: bold;
    color: #6c757d;
}

.informations .contact {
    font-size: 1.1em;
    color: #495057;
    margin: 5px 0;
}

.experiences {
    margin-bottom: 30px;
    padding: 60px;
}

.experience h3 {
    font-size: 1.8em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.experience h2 {
    font-size: 2em;
    color: white;
}

.experience h4 {
    font-size: 1em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.experience p {
    font-size: 1.4em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.titre-contenu-pf {

    color: #20202A;
    font-size: 2.85vw;
    text-align: right;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.titre-contenu-pf .p {
    display: flex;
    text-align: center;
}

.description-titre-pf {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

.photo-pf {
    width: 100%;
    height: auto;

}


.experience ul {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.formations-competences {
    margin-bottom: 30px;
}

.formations-competences h2 {
    font-size: 2em;
    color: #20202a;
}

.formations-competences .formation h3 {
    font-size: 1.8em;
    color: #20202a;
}

.formations-competences .competences ul {
    margin-left: 20px;
}

.formations-competences .competences li {
    font-size: 1.1em;
    color: #495057;
}

.centres-interet h2 {
    font-size: 2em;
    color: #20202a;
}

.centres-interet ul {
    margin-left: 20px;
}

.centres-interet li {
    font-size: 1.1em;
    color: #495057;
}

#footer {
    background-color: #20202A;
    color: white;
    text-align: center;
    padding: 30px 20px;
    font-size: 0.9rem;
}

#footer p a {
    color: white;
    text-decoration: underline;
}
