/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f9;
}

/* En-tête */
header {
    background-color: #6200ea;
    color: white;
    padding: 1rem 0;
}

/* Navigation */
nav {
    margin: 20px 0;
}

nav .button {
    background-color: #03a9f4;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
}

nav .button:hover {
    background-color: #0288d1;
}

/* Contenu principal */
main {
    padding: 20px;
}

/* Pied de page */
footer {
    background-color: #6200ea;
    color: white;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
